.post {
    display: flex;
    align-items: center;
}

.post svg {
    font-size: 32px;
}

.postControl {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.postControl button {
    padding: 0;
}